header {
   background-color: #28a745;

   .navbar-item {
      display: table;
      background-color: #f1c84c;
      padding: 0.2em;
      padding-top: 0;
      border-radius: 100%;
   }

   img {
      width: 50px;
   }
}
.buttons{
   button{
      margin-left: 1em;
   }
}