<header>
   <nav class="navbar">
      <!-- logo -->
      <div class="navbar-brand">
         <a class="navbar-item" [routerLink]="[ '/']">
            <img src="assets/images/bus-icon.png">
         </a>
      </div>
      <div class="buttons">
         <button type="button" class="btn btn-light btn-sm" [routerLink]="['/transportations/onibus']">Ônibus</button>
         <button type="button" class="btn btn-light btn-sm" [routerLink]="['/transportations/lotacoes']">Lotações</button>
      </div>
   </nav>
</header>