@charset 'UTF-8';
@import "~bootstrap/dist/css/bootstrap.css";

html,
body {
   display: block;
   height: 100%;
}

a:hover {
   text-decoration: none;
}

.loader {
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: 9;
   background-color: #fff;
   
   &:after{
      content: "";
      background-color: rgba(63, 81, 181, 0.4);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
   }
}

.loader-wrapper {
   position: relative;
}

.loader .loader-wrapper div {
   position: absolute;
   top: 27px;
   width: 11px;
   height: 11px;
   border-radius: 50%;
   background: #fff;
   z-index: 10;
   animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.loader .loader-wrapper div:nth-child(1) {
   left: 6px;
   animation: lds-ellipsis1 0.6s infinite;
}

.loader .loader-wrapper div:nth-child(2) {
   left: 6px;
   animation: lds-ellipsis2 0.6s infinite;
}

.loader .loader-wrapper div:nth-child(3) {
   left: 26px;
   animation: lds-ellipsis2 0.6s infinite;
}

.loader .loader-wrapper div:nth-child(4) {
   left: 45px;
   animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
   0% {
      transform: scale(0);
   }

   100% {
      transform: scale(1);
   }
}

@keyframes lds-ellipsis3 {
   0% {
      transform: scale(1);
   }

   100% {
      transform: scale(0);
   }
}

@keyframes lds-ellipsis2 {
   0% {
      transform: translate(0, 0);
   }

   100% {
      transform: translate(19px, 0);
   }
}